.header__container{
    padding-right: 0;
    position: sticky;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 0px #0806061A;
    select {
        background: #0A0119;
        color: white;
        border-radius: 3px;
        border: 1.5px solid;
    }

}
.header__info__container{ 
    position: sticky; 
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center ;
    gap: 80px;
    text-transform: uppercase
}
.header__info{
    position: sticky;
    text-decoration: none;
    font-size: large;
    color: #C3B9B5;
    cursor: pointer;
    transition-duration: 0.3s; 
}
.header__info:hover {
    color: #59443F;
}
.right {
    margin-left: 10px;
}
