@import '../../../global.scss';
.cards_container {
    width: 80%;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: space-between;
    a {
        color: #4682B4;
        
    }
    @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px auto 20px auto;
        gap: 20px;
    }
}
.Card {
    padding: 30px;
    padding-top: 20px;
    padding-right: 20px;
    width: 45%;
    border: 1px solid black;
    background-color: rgba($color: #FFFFFF, $alpha: 0.8);
    border-radius: 20px;
    transition: all 0.2s;
    &:hover {
        background-color: rgba($color: #FFFFFF, $alpha: 0.9);
        @include mobile {
            background-color: white;
        }
    }
    @include mobile {
        background-color: white;
    }
    h3 {
        text-align: center;
        @include mobile {
            font-size: medium;
        }
    }
    ul{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    h4 {
        display: inline-block;
        color: rgb(0, 82, 144);
        font-size: medium;
    }
        list-style-type:none ;
        li {
            margin-top: 10px;
        }
    }
    @include mobile {
        width: 100%;
    }
}
.LastCard__container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    a {
        color: #4682B4;
        
    }
   @include mobile {
       margin: 0 auto;
   }
}