@import '../../global.scss';
.Footer {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background: black;
    padding-top: 20px;;
    padding-bottom: 20px;
    h2 {
        color: white;
    }
    .icon {
        color: white;
        font-size: 30px;
    }
    .Footer_container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .Footer_contact {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include mobile {
                gap: 10px;
            }
            .footer_info_container {
                display: flex;
                align-items: center;
                gap: 10px;
               
            }
        }
    }
    .footer_text { 
        color: white;
        font-size: 20px;
    }
    .Footer_aboutSite {
        text-align: center;
        p {
            color: white;
            font-size: 12px;
            color: rgb(196, 196, 196);
        }
    }
}