.aboutMe_container {
     margin-top: 50px;
         width: 100%;
        display: flex;
        justify-content: center;
      
}
.aboutMe {
    opacity: 0;
    animation: ani 2s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.AboutMe_photo img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.aboutMe_items {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.AboutMe_Text  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2   {
    font-size: 62px;
    color: white;
    opacity: 0.9;
}
    p {
        font-size: 35px;
        color: white;
        opacity: 0.9;
    }
    button {
        margin-top: 20px;
    }
}
