@import '../../global.scss';
.aboutMe_container {
     margin-top: 50px;
         width: 100%;
        display: flex;
        justify-content: center;
      
}
.aboutMe {
    opacity: 0;
    animation: ani 2s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.AboutMe_photo img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    @include mobile {
        width: 150px;
        height: 150px;
    }
    @include tablet {
        width: 200px;
        height: 200px;
    }
}
.aboutMe_items {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @include mobile {
        gap: 0px;
    }
    @include tablet {
        gap: 0;
    }
}
.AboutMe_Text  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2   {
    font-size: 62px;
    color: white;
    opacity: 0.9;
    @include mobile {
        font-size: 22px;
    }
    @include tablet {
        font-size: 40px;
    }
}
    p {
        font-size: 35px;
        color: white;
        opacity: 0.9;
        @include mobile {
            font-size: 18px;
        }
        @include tablet {
            font-size: 20px;
        }
    }
    button {
        margin-top: 20px;
        @include mobile {
            margin-top: 10px;
            // padding: 4px 8px;
        }
        a {
           @include mobile {
               font-size: 17px;
           }
           @include tablet {
               font-size: 21px ;
           }
        }
    }
    
}
